/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 1.5rem;
$mainFont: 'Space Grotesk', sans-serif;
$headingFont: 'Space Grotesk', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #dd2a57;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 3em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$overlayElementBgColor: 0, 0, 0;
$overlayElementFgColor: 240, 240, 240;

// Change text colors against dark slide backgrounds
@include dark-bg-text-color(#fff);


// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------


section {
    text-align: left !important;

}

.intro {
    width: 50%;
    float: left;
    margin-top: 3rem;
}

section p.fragment {
    padding-left:1.5rem;
    padding-top:.5rem;
}

.webgl-points p.fragment:before {
    content: ">";
    padding-right: 0.5rem;
    color: #dd2a57;
}

.small-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding:0 0 0.5rem 1rem !important;
    margin:0 !important;
}

.three-example-code pre {
    margin-left:0;
}

.three-logo {
    transform: translateY(0);
    animation: hoverAnimation 2s ease-in-out infinite alternate;
    float: right;
}


@keyframes hoverAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);

    }
  }

  .wave {
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
    100% { transform: rotate( 0.0deg) }
  }
  